DEBUG=on
SECRET_KEY=mtt*yua-k7_n2axxm_*rf1phcg6iiikmu_$o4_bh&)pba@iu_q
CORS_ALLOW_ALL_ORIGINS=True

# Database
#postgresql://USER:PASSWORD@HOST:PORT/NAME
DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432